body {
    font-family: 'Courier New', Courier, monospace;
    background-color: dodgerblue;
}

img {
    height: 15%;
    width: 15%;
    float: right;
}

.contact {
    
}

#navbar {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;  
}

#navbar li {
    float: left;   
}

#navbar li a {
    display: block;
    padding: 8px;
    margin: 8px;
    color: white;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: turquoise;
}

.topnav ul{
    display: block;
}

.nav-center ul li a { 
    float: left;
    transform: translate(240px, 0%);
}

.active {
    background-color: teal;
}

h1 {
    text-align:center
}

p {
    text-align: center;
}
