body {
    font-family: 'Courier New', Courier, monospace;
    background-color: dodgerblue;
}

#tetris {
    height: 20%;
    width: 15%;
    float: left;
    margin-top: 0px;
}

#tetris2 {
    height: 20%;
    width: 15%;
    float: right;
    margin-top: 0px;
}
#leads {
    height: 70%;
    width: 40%;
    float: right;
}

#smash {
    height: 70%;
    width: 40%;
    float: right;
}

#apps {
    height: 15%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

#mark {
    height: 15%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#about {
    height: 15%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moon {  
    width: 65%;
    margin-left: 30px;
}


#navbar {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;  
}

#navbar li {
    float: left;   
}

#navbar li a {
    display: block;
    padding: 8px;
    margin: 8px;
    color: white;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: turquoise;
}

.topnav ul{
    display: block;
}

.nav-center ul li a { 
    float: left;
    transform: translate(240px, 0%);
}

.active {
    background-color: teal;
}

h1 {
    text-align:center
}

p {
    text-align: center;
}
